<mat-toolbar>
  <span>V-Slash</span>
  <ng-container *ngIf="authService.isLoggedIn()">
    <a (click)="logout()" class="logout">Logout</a>
  </ng-container>
</mat-toolbar>
<mat-drawer-container *ngIf="authService.isLoggedIn();else outlet" class="drawer">
  <mat-drawer mode="side" opened>
    <app-nav></app-nav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


<ng-template #outlet>
  <router-outlet></router-outlet>
</ng-template>
