<div class="main">
  <div class="flex-row" style="align-items: center;margin-bottom: 20px;">
    <h2 style="margin:0">Shortcuts <span *ngIf="shortcutCount">({{shortcutCount}})</span></h2>
    <button
      mat-button [matMenuTriggerFor]="menu" mat-flat-button
      color="primary" style="margin-left: auto;">
      {{selectedSortOption.name}}
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="sortBy(sortOption)" *ngFor="let sortOption of sortOptions"
              mat-menu-item>{{sortOption.name}}</button>
    </mat-menu>
  </div>
  <ngx-skeleton-loader *ngIf="loading" count="10"></ngx-skeleton-loader>


  <div class="list">
    <a [href]="shortcut.fullUrl" target="_blank"
       class="card" *ngFor="let shortcut of shortcuts">
      <div class="flex-row">
        <h4><strong>v/{{shortcut.shortLink}}</strong></h4>
        <button (click)="deleteShortcut(shortcut.uid, $event)" mat-button>
          <mat-icon style="color:red">delete</mat-icon>
        </button>
      </div>
      <h4>{{shortcut.description || 'No Description'}}</h4>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>{{shortcut.createdAt | date : 'MMMM d'}}</mat-chip>
        <mat-chip *ngIf="shortcut.type" color="primary">{{shortcut.type.toLowerCase()}}
          <mat-icon style="margin-left: 4px">{{getIcon(shortcut.type)}}</mat-icon>
        </mat-chip>
        <mat-chip color="accent" *ngFor="let tag of shortcut.tags" selected>{{tag?.tag}}</mat-chip>
      </mat-chip-list>
    </a>
  </div>
  <mat-paginator [length]="shortcutCount"
                 [pageSize]="pageSize"
                 [hidePageSize]="true"
                 aria-label="Select page"
                 (page)="handlePageEvent($event)">
  </mat-paginator>
</div>
