<div class="main">
  <h2>Shortcuts ({{shortcuts.length}})</h2>
  <ngx-skeleton-loader *ngIf="loading" count="10"></ngx-skeleton-loader>

  <div class="list">
    <a [href]="shortcut.fullUrl" target="_blank"
       class="card" *ngFor="let shortcut of shortcuts">
      <h4><strong>v/{{shortcut.shortLink}}</strong></h4>
      <h4>{{shortcut.description || 'No Description'}}</h4>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip>{{shortcut.createdAt | date : 'MMMM d'}}</mat-chip>
        <mat-chip *ngIf="shortcut.type" color="primary">{{shortcut.type.toLowerCase()}}
          <mat-icon style="margin-left: 4px">{{getIcon(shortcut.type)}}</mat-icon>
        </mat-chip>
        <mat-chip color="accent" *ngFor="let tag of shortcut.tags" selected>{{tag.tag}}</mat-chip>
      </mat-chip-list>
    </a>
  </div>
</div>
